{% load i18n %}
{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>
            {% block title %}
            {% trans "Hervé BERAUD ~ Python / Linux evangelist | Personal Website" %}
            {% endblock %}
        </title>
        <!--[if lte IE 8]>
        <style type="text/css">
            .ombrage {
                filter:progid:DXImageTransform.Microsoft.Glow(Color=#c0c0c0,Strength=8);
                zoom: 1;
            } 
        </style>
        <![endif]-->
        {% block js_beginnig %}
        {% endblock %}
    </head>
    {% block body %}
    <body class="default">
    {% endblock %}

        <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <div class="nav-header">
                    <a class="navbar-brand" href="/">Hervé BERAUD ~ Python  / Linux Evangelist</a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        {% block navhome %}
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        {% endblock %}
                        {% block navskills %}
                        <li>
                            <a href="{% url 'skills' %}">Skills</a>
                        </li>
                        {% endblock %}
                        {% block navprojects %}
                        <li>
                            <a href="#">Projects</a>
                        </li>
                        {% endblock %}
                        {% block navcv %}
                        <li>
                            <a href="#">Curriculum Vitae</a>
                        </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
