{% extends "home/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block title %}
{% trans 'Hervé BERAUD ~ Skills and Technology' %}
{% endblock %}

{% block js_beginnig %}
<script src="{% static 'js/lib/chart/Chart.js' %}"></script>
<script src="{% static 'js/chartOptions.js' %}"></script>
{% endblock %}

{% block body %}
<body class="skills-bg">
{% endblock %}


{% block navskills %}
<li class="active">
    <a href="{% url 'skills' %}">Skills</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    {% if categories %}
    <div class="col-md-2 hidden-xs hidden-sm hidden-md">
        <div class="menu-black-box">
            <div class="header-menu-black-box">
                <h3>{% trans "Skills" %}</h3>
            </div>
            <nav>
                <ul class="nav nav-pills nav-stacked">
                    {% for category in categories %}
                        {% if category == main_category %}
                            <li class="active" role="presentation">
                        {% else %}
                            <li role="presentation">
                        {% endif %}
                        <a href="{% url 'skills' %}{{ category.name }}/" title="{{ category.alt_description }}">
                        {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    {% else %}
    <strong style="color:red">{% trans "No results was found" %}</strong>
    {% endif %}

    {% if technologies %}
    <div class="col-lg-10">
        <div class="row">
            <div class="row enlighted-menu hidden-xs">
                <nav>
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse navbar-left">
                            <ul class="nav navbar-nav">
                                {% for technology in technologies %}
                                        {% if technology == main_technology %}
                                            <li style="text-decoration : underline;">
                                        {% else %}
                                            <li>
                                        {% endif %}
                                        <a href="/skills/{{ technology.category.name }}/{{ technology.name }}/">
                                            {% if technology.icon %}
                                                <img style="height:24px; width:24px;" src="{% get_media_prefix %}{{ technology.icon }}" alt="" />
                                            {% endif %}
                                            {{ technology.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div>

            <h3 class="decorated-title">
                {% if main_technology.icon %}
                    <img src="{% get_media_prefix %}{{ main_technology.icon }}" style="height:48px; width:48px;" />
                {% endif %}
                {{ main_technology.name }} {% trans "Skills Overview" %}
            </h3>
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="widget" style="text-align:center;">
                            <h5>{% trans "Level" %}</h5>
                            {% if main_technology.level == 1 %}
                                <img src="{% static 'img/icone/1stars.png' %}" />
                            {% elif main_technology.level == 2 %}
                                <img src="{% static 'img/icone/2stars.png' %}" />
                            {% elif main_technology.level == 3 %}
                                <img src="{% static 'img/icone/3stars.png' %}" />
                            {% elif main_technology.level == 4 %}
                                <img src="{% static 'img/icone/4stars.png' %}" />
                            {% elif main_technology.level == 5 %}
                                <img src="{% static 'img/icone/5stars.png' %}" />
                            {% endif %}
                        </div>
                        <div class="widget" style="text-align:center;">
                            <h5>{% trans "Used Versions" %}</h5>
                            {% for version in main_technology.version.all %}
                                {% if version.official_website %}
                                <a href="{{ version.official_website }}">{{ version.technical_name }}</a>
                                {% else %}
                                    {{ version.technical_name }}
                                {% endif %}
                                {% if not forloop.last %}
                                /
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="widget" style="">
                            <h5>{% trans "My Feelings about" %}</h5>
                            <p>{{ main_technology.description }}</p>
                        </div>
                    </div>
                </div>
                {% if frameworks %}
                <div class="col-sm-7 col-md-4 widget">
                    <h5>{% trans "Used Frameworks And API" %}</h5>
                    {% for framework in frameworks %}
                    <ul>
                        <li>
                            {% if framework.official_website %}
                            <a href="{{ framework.official_website }}" title="{{ framework.contextual_description }}">
                                {{ framework.name }}
                            </a>
                            {% else %}
                                {{ framework.name }}
                            {% endif %}
                            : {{ framework.description }}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                {% endif %}
                {% if main_technology.tools %}
                <div class="col-sm-2 col-md-3 widget">
                    <h5>{% trans "Used Tools" %}</h5>
                    <p>{{ main_technology.tools }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
