{% extends "home/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block navhome %} 
<li class="active">
    <a href="{% url 'index' %}">Home</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div class="black-box">
                <img src="{% static 'img/herve-beraud.png' %}" 
                    width="200px" 
                    height="200px" 
                    style="float:right;clear:both;"
                    class="img-thumbnail" />
            <h3>{% trans "Welcome !" %}</h3>
            <hr>
            <div>
                <p>
                {% blocktrans %}
                Hi, my name is Hervé I'm a French IT development engineer.
                I love creating beautiful crafted, usable products.
                On this Website you can find many informations about me.
                {% endblocktrans %}
                </p>
                <p>
                {% blocktrans %}
                I talk about technology that I love (Python, Linux, Vim, Latex)
                {% endblocktrans %}
                <a href="skills/">{% trans " and more skills here..." %}</a>
                </p>
                <p>
                {% blocktrans %}
                I found pleasure to work on embded systems, web projects, video games, 
                you can follow all my  
                {% endblocktrans %}
                <a href="projects-and-achivements">
                    {% trans " personal projects and my achievements here." %}
                </a>
                </p>
            </div>
        </div>
        <div class="black-box spacing">
            <h3>{% trans 'This Website is Powered By' %}</h3>
            <hr>
            <div>
                <img src="{% static 'img/icone/python.png' %}" style="width:18%;" />
                <img src="{% static 'img/icone/django.png' %}" style="width:15%;" />
                <img src="{% static 'img/icone/nginx.png' %}" style="width:20%;" />
                <img src="{% static 'img/icone/gunicorn.png' %}" style="width:17%;" />
                <img src="{% static 'img/icone/html5.png' %}" style="width:10%;" />
                <img src="{% static 'img/icone/css3.png' %}" style="width:7%;" />
                <img src="{% static 'img/icone/vim.png' %}" style="width:8%;" />
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
{% endblock %}
