
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-5">
        <div class="well well-sm spacing">
            <div class="row">
                <div class="col-md-8">
                    <address>
                    </address>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/herve-beraud.png' %}" width="100px" height="100px" class="img-circle" />
                </div>
            </div>
        </div>
    </div>
</div>
