{% extends "home/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block title %}
{% trans 'Hervé BERAUD ~ Skills and Technology' %}
{% endblock %}

{% block js_beginnig %}
<script src="{% static 'js/lib/chart/Chart.js' %}"></script>
<script src="{% static 'js/chartOptions.js' %}"></script>
{% endblock %}

{% block body %}
<body class="skills-bg">
{% endblock %}


{% block navskills %}
<li class="active">
    <a href="{% url 'skills' %}">Skills</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    {% if categories %}
    <div class="col-md-2 hidden-xs hidden-sm hidden-md">
        <div class="menu-black-box">
            <div class="header-menu-black-box">
                <h3>{% trans "Skills" %}</h3>
            </div>
            <nav>
                <ul class="nav nav-pills nav-stacked">
                    {% for category in categories %}
                        {% if category.active_at_loading %}
                            {% if category == main_category %}
                                <li class="active" role="presentation">
                            {% else %}
                                <li role="presentation">
                            {% endif %}
                        {% else %}
                            <li role="presentation">
                        {% endif %}
                        <a href="{% url 'skills' %}{{ category.name }}/" title="{{ category.alt_description }}">
                        {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    {% else %}
    <strong style="color:red">{% trans "No results was found" %}</strong>
    {% endif %}

    {% if technologies %}
    <div class="col-lg-10">
        <div class="row">
            <div class="row enlighted-menu hidden-xs">
                <nav>
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse navbar-left">
                            <ul class="nav navbar-nav">
                                {% for technology in technologies %}
                                    <li>
                                        <a href="/skills/{{ technology.category.name }}/{{ technology.name }}/">
                                            {% if technology.icon %}
                                                <img style="height:24px; width:24px;" src="{% get_media_prefix %}{{ technology.icon }}" alt="" />
                                            {% endif %}
                                            {{ technology.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div>
            <h3 class="decorated-title">{% trans "Summary For My" %} {{ main_category.name }} {% trans "Skills" %}</h3>
            <div class="row">
                <div class="col-sm-2 widget">
                    <p>{{ main_category.description }}</p>
                </div>
                <div class="col-sm-7 col-md-4 widget">
                    <h5>{% trans "Compare between" %}</h5>
                    <canvas id="summaryChart" width="400" height="400"></canvas>
                    <script>
                    var data = {
                        labels: {{ chart_data_label|safe }},
                        datasets: [
                            {
                                label: "My First dataset",
                                fillColor: "rgba(220,220,220,0.2)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: {{ chart_data_level }}
                            }
                        ]
                    };
                    var ctx = document.getElementById("summaryChart").getContext("2d");
                    var myRadarChart = new Chart(ctx).Radar(data, chartOptions);
                    myRadarChart.generateLegend();
                    </script>
                </div>

                <div class="col-sm-2 col-md-3 widget">
                    <h5>{% trans "Level by Technology Knowledge" %}</h5>
                    {% for technology in technologies %}
                        <div class="progress">
                            {% if technology.level < 3 %}
                            <div class="progress-bar progress-bar-striped active progress-bar-warning"
                            {% elif technology.level < 4 %}
                            <div class="progress-bar progress-bar-striped active progress-bar-success"
                            {% else %}
                            <div class="progress-bar progress-bar-striped active"
                            {% endif %}
                                 role="progressbar"
                                 aria-valuenow="45"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: {{ technology.skills_level }}%">
                                <span class="sr-only"></span>
                                <a href="/skills/{{ technology.category.name }}/{{ technology.name }}/">{{ technology.name }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
