{% extends "home/skills/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% trans 'Hervé BERAUD ~ Skills and Technology - ' %}{{ main_category }}
{% endblock %}

{% block js_beginnig %}
<script src="{% static 'js/lib/chart/Chart.js' %}"></script>
<script src="{% static 'js/chartOptions.js' %}"></script>
{% endblock %}

{% block focus %}
<div>
    <h3 class="decorated-title">{% trans "Summary For My" %} {{ main_category.name }} {% trans "Skills" %}</h3>
    <div class="row">
        <div class="col-sm-2 widget">
            <p>{{ main_category.description }}</p>
        </div>
        <div class="col-sm-7 col-md-4 widget">
            <h5>{% trans "Compare between" %}</h5>
            <canvas id="summaryChart" width="400" height="400"></canvas>
            <script>
            var data = {
                labels: {{ chart_data_label|safe }},
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: {{ chart_data_level }}
                    }
                ]
            };
            var ctx = document.getElementById("summaryChart").getContext("2d");
            var myRadarChart = new Chart(ctx).Radar(data, chartOptions);
            myRadarChart.generateLegend();
            </script>
        </div>

        <div class="col-sm-2 col-md-3 widget">
            <h5>{% trans "Level by Technology Knowledge" %}</h5>
            {% for technology in technologies %}
                <div class="progress">
                    {% if technology.level < 3 %}
                    <div class="progress-bar progress-bar-striped active progress-bar-warning"
                    {% elif technology.level < 4 %}
                    <div class="progress-bar progress-bar-striped active progress-bar-success"
                    {% else %}
                    <div class="progress-bar progress-bar-striped active"
                    {% endif %}
                         role="progressbar"
                         aria-valuenow="45"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: {{ technology.convert_level_in_percent }}%">
                        <span class="sr-only"></span>
                        <a href="/skills/{{ technology.category.name }}/{{ technology.name }}/" title="{{ technology.contextual_description }}">{{ technology.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}
