{% load i18n %}
{% load staticfiles %}
<div class="row">
    <div class="panel panel-default incorporer">
        <div class="panel-heading" style="padding-bottom:15px;">
            <img src="{% static 'img/icone/github.png' %}" style="height:50px;float:left;">
            <h4 class="text-center">{% trans "My Github" %}</h4>
        </div>
        <div class="panel-body">
            <p>{% trans "Visit my github account and discover several projects" %}.<br>
                <a href="https://github.com/4383">https://github.com/4383</a>
            </p>
        </div>
    </div>
</div>
