{% extends "home/jobs/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block title %}
{% trans 'Hervé BERAUD ~ Job - ' %}
{% endblock %}

{% block focus %}
<div>
    <h2 class="decorated-title-enlighted" style="text-align:center;">
        {{ job.name|capfirst }} {% trans "On" %} {{ job.project|capfirst }} {% trans "Project" %}<br />
        <small>{{ job.start_date }} {% trans "To" %} {{ job.end_date|default:"Now" }}</small>
    </h2>
    <div class="row" style="margin-bottom:100px;">
        <!-- Layout -->
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="row">
                <h3 class="decorated-title-enlighted-small">
                    {% trans "Job Description" %}
                </h3>
                {% if not job.end_date %}
                    <p>
                        <span class="label label-primary">{% trans "My Current Job" %}</span>
                    </p>
                {% endif %}
                <p>{{ job.description }}</p>
            </div>
            <div class="row">
                <h3 class="decorated-title-enlighted-small">{% trans "Project Description" %}</h3>
                <p>{{ job.project.description }}</p>
                {% if job.project.url %}
                <a href="{{ job.project.url }}">{% trans "View Project Website" %}</a>
                {% endif %}
            </div>
            {% if tasks %}
            <div class="row">
                <h3 class="decorated-title-enlighted-small">{% trans "Personal Tasks On This Project" %}</h3>
                {% for task in tasks %}
                <h5>{{ task.name }}</h5>
                <p>{{ task.description }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% if job.project.technologies.all %}
            <div class="row">
                <h3 class="decorated-title-enlighted-small">
                    {% trans "Used Technologies" %}
                    ({{ job.project.technologies.all|length }})
                </h3>
                <ul>
                    {% for technology in job.project.technologies.all %}
                    <li><a href="/skills/{{ technology.category }}/{{ technology.name }}">{{ technology }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if job.project.frameworks.all %}
            <div class="row">
                <h3 class="decorated-title-enlighted-small">
                    {% trans "Used Frameworks" %}
                    ({{ job.project.frameworks.all|length }})
                </h3>
                <ul>
                    {% for framework in job.project.frameworks.all %}
                    {% if framework.official_website %}
                        <li><a href="{{ framework.official_website }}" title="{% trans 'Visit the official website' %}">
                            {{ framework }}</a></li>
                    {% else %}
                        <li>{{ framework }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <!-- Layout -->
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div class="row">
                <h3 class="decorated-title-enlighted-small">{% trans "Employer Informations" %}</h3>
                <img style="margin-bottom:10px;height:50px;"
                     class="img-thumbnail incorporer" src="{% get_media_prefix %}{{ job.employer.logo }}" >
                <p>{% trans "Name" %} :
                    <a href="{{ job.employer.official_website }}" title="{% trans 'Visit the official website' %}">
                        {{ job.employer }}
                    </a>
                </p>
                <p>{% trans "Location" %} : {{ job.employer.location }}</p>
                <p>{% trans "Description" %} : {{ job.employer.description }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">

                <div class="row">
                    <h3 class="decorated-title-enlighted-small">{% trans "Client Informations" %}</h3>
                    <img style="height:50px;margin-bottom:10px;"
                         class="img-thumbnail incorporer"
                         src="{% get_media_prefix %}{{ job.client.logo }}">
                    <p>{% trans "Name" %} :
                        <a href="{{ job.client.official_website }}" title="{% trans 'Visit the official website' %}">
                            {{ job.client.name }}
                        </a>
                    </p>
                    <p>{% trans "Location" %} : {{ job.client.location }}</p>
                    <p>{% trans "Description" %} : {{ job.client.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
